/1_atk_40_rounds_10_clients_3_epochs_64_batch_0.0025_lr_120_data_groups
/2atk_10_rounds_4_clients_4_epochs_64_batch_0.0018_lr_120_data_groups
/2atk_40_rounds_10_clients_3_epochs_64_batch_0.0025_lr_120_data_groups
/4atk_20_rounds_10_clients_3_epochs_64_batch_0.0025_lr_120_data_groups
/4atk_40_rounds_10_clients_3_epochs_64_batch_0.0025_lr_120_data_groups
/4atk_40_rounds_10_clients_4_epochs_64_batch_0.0018_lr_120_data_groups
/DNN2atk_10_rounds_4_clients_4_epochs_64_batch_0.0018_lr_40_data_groups
/DNNCent1atk_40_rounds_4_clients_4_epochs_64_batch_0.0018_lr_40_data_groups
/DNNCent2atk_10_rounds_4_clients_4_epochs_64_batch_0.0018_lr_40_data_groups
/DNNCent2atk_40_rounds_4_clients_4_epochs_64_batch_0.0018_lr_120_data_groups
/DNNCent3atk_40_rounds_4_clients_4_epochs_64_batch_0.0018_lr_120_data_groups
/DNNCent5atk_40_rounds_4_clients_4_epochs_64_batch_0.0018_lr_120_data_groups
/LLM204atk_20_rounds_4_clients_4_epochs_64_batch_0.0018_lr_120_data_groups
/LLM4atk_20_rounds_10_clients_4_epochs_64_batch_0.0018_lr_120_data_groups
/LLM4atk_20_rounds_4_clients_4_epochs_64_batch_0.0018_lr_120_data_groups
/LLM_test.ipynb
/lightning_logs
/test.py
/{NUM_ATCKS}atk_{ROUNDS}_rounds_{NUM_CLIENTS}_clients_{EPOCHS}_epochs_{BATCH_SIZE}_batch_{LEARNING_RATE}_lr_{DATA_GROUPS}_data_groups