
# Ignore all hidden files (starting with .)

.*
!.gitignore        # keep .gitignore itself


# Ignore all folders and their contents

*/


# EXCEPT keep the data folder and its contents

!data/
!data/**


# Keep all root-level files (not starting with .)

!*.*

