# Ignore all files by default
*

# DO NOT ignore .gitignore itself
!.gitignore

# Keep all Jupyter notebooks in root
!*.ipynb

# Keep the data folder and all contents
!data/
!data/**

# Ignore all hidden files
.*
!.gitignore
0_Sim_Original_FL_Tab_Transformer2.ipynb
Plotting_Results_Mohannad_Working2.ipynb
